 <section>
        <div class="chatblock">
            <div class="box">

                <h2>List of Books</h2>

            <div class="book-list">
                {{#each books}}
                    <div class="book-item">
                        <h3>{{title}}</h3>
                        <p><strong>Author:</strong> {{author}}</p>
                        <p><strong>Year:</strong> {{year}}</p>
                        <p><strong>Description:</strong> {{description}}</p>
                        <form action="/editbook/{{id}}" method="GET">
                        <button type="submit" class="edit">Edit</button>
                        </form>
                        <form action="/deletebook/{{id}}" method="POST">
                        <button type="submit" class="delete">Delete</button>
                        </form>
                    </div>
                {{/each}}
            </div>

            </div>
        </div>
    </section>